@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Barlow', sans-serif;

  --color-primary-50: #E6EBFA;
  --color-primary-100: #C2CDF3;
  --color-primary-200: #99ABEA;
  --color-primary-300: #6B85E0;
  --color-primary-400: #4766D8;
  --color-primary-500: #0035D0;
  --color-primary-600: #002EB8;
  --color-primary-700: #00259E;
  --color-primary-800: #001D85;
  --color-primary-900: #00155C;
  --color-primary-950: #000D3D;
}

:root {
  --ui-container: var(--container-3xl);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}
